{{ define "main" }}
<div class="articles-by-tag">
  <div class="tag-title">
    <span class="category-label">Category</span>
    <h1 class="title">{{ .Title | markdownify }}</h1>
  </div>
  <p>{{ .Params.subtitle | markdownify }}</p>

  <div class="article-cards">
    {{$firstPage := index (.Pages.ByPublishDate.Reverse) 0}}

    {{with $firstPage}}
    <div class="pinned-article">
      <div class="article-content">
        <a href="{{ .RelPermalink }}">
          <img src="/{{ .Params.image }}"
               alt="{{ .Params.summary | markdownify }}"
          />
        </a>
        <div class="information">
          <h3 class="title"><a href="{{ .RelPermalink }}">
            {{ .Title | markdownify }}
          </a></h3>
          <p class="description">{{ .Params.subtitle | markdownify }}</p>
          <a class="read-article-link" href="{{ .RelPermalink }}">
            Read article →
          </a>
        </div>
      </div>
    </div>
    {{ end }}

    {{ range (.Paginate .Pages.ByPublishDate.Reverse).Pages }}
    {{ partial "article-card.html" . }}
    {{ end }}
  </div>
</div>
{{ end }}
