<a class="article-card" href="{{ .RelPermalink }}">
    <span class="image">
        {{ $image := resources.Get .Params.image }}

        {{ with $image }}
            {{ $imageMinified := .Resize "600x" }}

            <img src="{{ $imageMinified.RelPermalink }}"
                 alt="{{ .Params.summary | markdownify }}"
            />
        {{ end }}
    </span>

    {{ $dateTime := .Params.date.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.DateFormat | default "January 2, 2006" }}
    <p class="date">
        <time datetime="{{ $dateTime }}">
            {{ .Params.date.Format $dateFormat }}
        </time>
    </p>

    <h3 class="title">{{ .Title | markdownify }}</h3>
    <p class="description">{{ .Params.subtitle | markdownify }}</p>

    <p class="author">
        <span class="avatar">
            {{ $imageUrl := printf "%s%s%s" "/images/avatar/" .Params.authorlink ".png" }}
            {{ $avatarImage := resources.Get $imageUrl }}
            {{ with $avatarImage }}
                {{ $imageMinified := .Resize "32x" }}
                <img src="{{ $imageMinified.RelPermalink }}"
                     alt="{{ .Params.authorname }}"
                />
            {{ end }}
        </span>
        <span>
            {{ .Params.authorname }}
        </span>
    </p>
</a>
