<div class="big-article-card">
    <a href="{{ .RelPermalink }}">
        {{ $image := resources.Get .Params.image }}
        {{ with $image }}
            <img src="{{ .RelPermalink }}"
                 alt="{{ .Params.summary | markdownify }}"
            />
        {{ end }}
    </a>
    <div class="information">
        <div class="authors">
            {{ $authorLinks := slice .Params.authorlink .Params.co_authorlink }}
            {{ $authorNames := slice .Params.authorname .Params.co_authorname }}

            {{ range $index, $authorName := $authorNames }}
                {{ $authorLink := index $authorLinks $index }}
                {{ if $authorLink }}
                    <p class="author">
                        <span class="avatar">
                            {{ $imageUrl := printf "%s%s%s" "/images/avatar/" $authorLink ".png" }}
                            {{ $image := resources.Get $imageUrl }}
                            {{ with $image }}
                                {{ $imageMinified := .Resize "32x" }}
                                <img src="{{ $imageMinified.RelPermalink }}"
                                     alt="{{ $authorName }}"
                                />
                            {{ end }}
                        </span>
                        <span itemprop="name">
                            {{ $authorName }}
                        </span>
                    </p>
                {{ end }}
            {{ end }}
        </div>

        <h3 class="title">
            <a href="{{ .RelPermalink }}">
                {{ .Title | markdownify }}
            </a>
        </h3>
        <p class="description">{{ .Params.subtitle | markdownify }}</p>

        <a class="read-article-link" href="{{ .RelPermalink }}">
            Read article →
        </a>
    </div>
</div>