<div class="article-content">
    <a href="{{ .RelPermalink }}">
        <img src="/{{ .Params.image }}"
             alt="{{ .Params.summary | markdownify }}"
        />
    </a>
    <div class="information">
        <div class="authors">
            {{ $authorLinks := slice .Params.authorlink .Params.co_authorlink }}
            {{ $authorNames := slice .Params.authorname .Params.co_authorname }}

            {{ range $index, $authorName := $authorNames }}
                {{ $authorLink := index $authorLinks $index }}
                {{ if $authorLink }}
                    <p class="author">
                        <span class="avatar">
                            <img src="/images/avatar/{{ $authorLink }}.png" alt="{{ $authorName }} avatar">
                        </span>
                        <span itemprop="name">
                            {{ $authorName }}
                        </span>
                    </p>
                {{ end }}
            {{ end }}
        </div>

        <h3 class="title">
            <a href="{{ .RelPermalink }}">
                {{ .Title | markdownify }}
            </a>
        </h3>
        <p class="description">{{ .Params.subtitle | markdownify }}</p>

        <a class="read-article-link" href="{{ .RelPermalink }}">
            Read article →
        </a>
    </div>
</div>