<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    {{ partial "head.html" . }}
</head>
<body>
{{ partial "header.html" . }}

<div class="horizontal">
    <div class="pinned-article">
        {{ range first 10 .Site.Pages.ByPublishDate.Reverse }}
        {{ if .Params.pinned }}
        {{ partial "big-article-card.html" . }}
        {{ end }}
        {{ end }}
    </div>

    <div class="articles">
        <main>
            <div class="posts-block">
                <h2>Latest</h2>
                <div class="article-cards">
                    {{ range first 10 .Site.Pages.ByPublishDate.Reverse }}
                    <!-- Select the blog posts only -->
                    {{ if eq .Params.Page "Blog" }}
                    {{ partial "article-card.html" . }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>

            <div class="posts-block">
                <h2>
                    Announcements
                </h2>
                <div class="article-cards">
                    {{ range first 10 .Site.Pages.ByPublishDate.Reverse }}
                    {{ if in .Params.categories "Announcements" }}
                    {{ partial "article-card.html" . }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>

            <div class="posts-block">
                <h2>
                    Tutorials
                </h2>
                <div class="article-cards">
                    {{ range first 10 .Site.Pages.ByPublishDate.Reverse }}
                    {{ if in .Params.categories "Tutorials" }}
                    {{ partial "article-card.html" . }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </main>
    </div>
</div>
{{ partial "footer.html" . }}
{{ partial "script.html" .}}
</body>
</html>
