<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    {{ partial "head.html" . }}
</head>
<body>
{{ partial "header.html" . }}

<div class="horizontal">
    <div class="pinned-article">
        {{ range first 10 .Site.Pages.ByPublishDate.Reverse }}
        {{ if .Params.pinned }}
        <div class="article-content">
            <a href="{{ .RelPermalink }}">
                <img src="/{{ .Params.image }}"
                     alt="{{ .Params.summary | markdownify }}"
                />
            </a>
            <div class="information">
                <h3 class="title"><a href="{{ .RelPermalink }}">
                    {{ .Title | markdownify }}
                </a></h3>
                <p class="description">{{ .Params.subtitle | markdownify }}</p>
                <a class="read-article-link" href="{{ .RelPermalink }}">
                    Read article →
                </a>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>

    <div class="articles">
        <main>
            <div id="latest" class="latest-posts">
                <h2>Latest</h2>
                <div class="posts">
                    {{ range first 10 .Site.Pages.ByPublishDate.Reverse }}
                    <!-- Select the blog posts only -->
                    {{ if eq .Params.Page "Blog" }}
                    <a class="post" href="{{ .RelPermalink }}">
                        {{ $dateTime := .Params.date.Format "2006-01-02" }}
                        {{ $dateFormat := .Site.Params.DateFormat | default "January 2, 2006" }}
                        <p class="date">
                            <time datetime="{{ $dateTime }}">
                                {{ .Params.date.Format $dateFormat }}
                            </time>
                        </p>

                        <h3 class="title">{{ .Title | markdownify }}</h3>
                        <p class="description">{{ .Params.subtitle | markdownify }}</p>
                        <p class="author">{{ .Params.authorname }}</p>
                    </a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </main>
<!--        <aside>-->
<!--            <h2>-->
<!--                <a href="/blog/">All Posts</a> &nbsp;-->
<!--            </h2>-->
<!--            <p>-->
<!--                We post community updates, short guides, and other information-->
<!--                regularly.-->
<!--            </p>-->
<!--            <h2>-->
<!--                <a href="/people/">People</a> &nbsp;-->
<!--            </h2>-->
<!--            <p>-->
<!--                It is an organised collection of articles on the contributors who make-->
<!--                V Lang greater than the sum of its parts.-->
<!--            </p>-->
<!--        </aside>-->
    </div>
</div>
{{ partial "footer.html" . }}
<!-- Scripts -->
{{ partial "script.html" .}}
</body>
</html>
