html {
  --article-title-color: var(--text-color);
  --article-text-color: var(--text-color);
  --article-link-text-color: var(--dark-blue);
  --article-header-background-color: var(--white);
  --article-header-border-color: var(--divider-color);
  --share-button-background-hover-color: var(--gray-f9);
  --category-gradient: linear-gradient(200deg, #4CF1FD -10%, #0176D1 98.3%);
}

html[data-theme="dark"] {
  --article-title-color: var(--white);
  --article-text-color: var(--gray-e0);
  --article-link-text-color: var(--blue);
  --article-header-background-color: var(--almost-black);
  --article-header-border-color: transparent;
  --share-button-background-hover-color: var(--light-transparent-gray);
  --category-gradient: linear-gradient(261.61deg, #4CF1FD -0.81%, #0176D1 98.3%);
}

.article {
  font-size: 18px;

  .article-header {
    padding: 100px 0 20px;
    line-height: 1;

    background-color: var(--article-header-background-color);
    border-bottom: 1px solid var(--article-header-border-color);

    @media (max-width: 1000px) {
      padding: 50px 0 20px;
      border-bottom: none;
    }

    .article-header-wrapper {
      max-width: 800px;
      margin: 20px auto -300px;

      @media (max-width: 1000px) {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: -250px;
      }

      .categories {
        padding-bottom: 10px;

        ul {
          display: flex;
          flex-wrap: wrap;
          column-gap: 15px;
          row-gap: 10px;

          list-style: none;
          padding: 0;
          margin: 0;

          li {
            margin: 0;

            a {
              margin: 0;
              padding: 2px 0 2px;
              border-radius: 4px;
              background: var(--category-gradient);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;

              font-size: 15px;
              font-weight: 600;
              text-decoration: none;

              @media (max-width: 1000px) {
                font-size: 18px;
              }
            }
          }
        }
      }

      h1.title {
        font-size: 55px;
        font-weight: 800;
        color: var(--article-title-color);
        margin-top: 0;
        margin-bottom: 10px;

        @media (max-width: 1000px) {
          font-size: 40px;
        }
      }

      .article-description {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
        color: var(--secondary-color);
        margin-top: 20px;
        margin-bottom: 40px;
      }

      .details {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        align-items: center;

        margin-bottom: 80px;

        border-bottom: 1px solid var(--divider-color);
        padding-bottom: 20px;

        @media (max-width: 1000px) {
          margin-bottom: 50px;
        }

        .date {
          margin: 0;
          color: var(--secondary-color);
          font-size: 15px;
          justify-self: end;

          font-family: "JetBrains Mono", monospace;
        }

        .author {
          margin: 0;
          width: max-content;

          display: grid;
          grid-template-columns: 30px auto;
          grid-column-gap: 10px;
          align-items: center;

          .avatar {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
            vertical-align: middle;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          a {
            display: block;
            font-size: 15px;
            color: var(--text-color);
            height: max-content;
            text-decoration: none;

            box-shadow: 0 1px 0 0 var(--text-color);
            transition: box-shadow .15s ease-in-out;

            &:hover {
              box-shadow: 0 2px 0 0 var(--text-color);
            }
          }
        }
      }

      .article-image {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        height: auto;

        img {
          width: 120%;
          height: auto;

          border-radius: 10px;

          margin-left: -10%;

          @media (max-width: 1000px) {
            width: 100%;
            margin-left: 0;
          }
        }
      }
    }
  }

  .article-content {
    position: relative;
    max-width: 800px;
    margin: 250px auto 0;

    @media (max-width: 1000px) {
      margin: 200px 20px 0;
    }

    .content-wrapper {
      position: relative;
    }

    .share-buttons {
      width: max-content;
      position: sticky;
      top: 100px;
      margin-left: -70px;

      @media (max-width: 1000px) {
        position: relative;
        top: 0;

        margin-left: 0;
        margin-bottom: 25px;

        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
      }

      .share-button {
        width: 35px;
        height: 35px;
        display: block;
        padding: 6px 8px 8px 8px;

        margin-top: 10px;

        border: 1px solid var(--divider-color);
        border-radius: 50%;

        @media (max-width: 1000px) {
          width: 45px;
          height: 45px;
          padding: 10px 11px 11px 11px;
        }

        &:hover {
          background-color: var(--share-button-background-hover-color);
        }

        svg {
          width: 100%;
          height: 100%;

          path {
            fill: var(--text-color);
          }
        }
      }
    }

    .content {
      margin-top: -130px;
      margin-bottom: 80px;

      @media (max-width: 1000px) {
        margin-top: 0;
        margin-bottom: 30px;
      }

      h1, h2, h3, h4, h5, h6 {
        color: var(--article-title-color);
      }

      h2 {
        font-size: 35px;
        line-height: 1.2;
        margin: 46px 0 32px;
        font-weight: 500;
      }

      h3 {
        font-size: 20px;
        margin: 34px 0 16px;
      }

      p {
        margin: 0 0 24px;
        font-size: 17px;
        line-height: 29px;
        letter-spacing: -0.01em;
        color: var(--article-text-color);
      }

      li {
        line-height: 1.5;
      }

      a {
        color: var(--article-link-text-color);
        text-decoration: none;

        transition: border-bottom-width .15s ease-in-out;

        &:visited {
          color: var(--article-link-text-color);
        }

        &:hover {
          text-decoration: underline;
        }
      }

      :not(pre) > code {
        font-family: "JetBrains Mono", monospace;
        background-color: var(--inline-code-background-color);
        color: var(--inline-code-text-color);
        padding: 2px 8px;
        border-radius: 4px;
        font-size: 0.875em;
      }

      .v-code {
        margin-bottom: 30px;

        .playground__wrapper {
          border-radius: 10px;
          background-color: var(--block-code-background-color);

          .CodeMirror {
            background-color: var(--block-code-background-color);

            .CodeMirror-gutters {
              background-color: var(--block-code-background-color);
            }
          }
        }
      }

      figure {
        margin: 20px 0 30px;

        img {
          max-width: 100%;
          height: auto;
          margin: 0 0 10px;
          display: block;
          border: 1px solid var(--divider-color);
          border-radius: 10px;
        }

        figcaption {
          font-size: 14px;
          color: var(--secondary-color);
          text-align: center;
        }
      }
    }
  }
}
