@import "fonts";
@import "colors";
@import "header";
@import "article-card";
@import "footer";
@import "article";
@import "404-page";
@import "pre-code-blocks";
@import "blockquote";
@import "wide-page";
@import "author-page";

html {
  --title-color: var(--text-color);
}

html[data-theme="dark"] {
  --title-color: var(--white);
}

* {
  box-sizing: border-box;
}

body {
  font: 400 14px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  margin: 70px 0;
  padding: 0;

  background-color: var(--background-color);
  color: var(--text-color);
}

.horizontal {
  position: relative;
  width: 100%;
  padding: 50px 50px;

  display: grid;

  @media (max-width: 1000px) {
    padding: 50px 30px;
  }

  .articles {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;

    main {
      @media (max-width: 1000px) {
        margin: 0;
      }
    }
  }
}

main {
  margin: 0 0 0 0;

  @media (max-width: 1000px) {
    margin: 0 0;
  }
}

.posts-block {
  margin-bottom: 50px;

  h2 {
    color: var(--title-color);
    font-size: 25px;
    margin-bottom: 30px;
  }
}